:root {
    --gray: #b4b8ab;
    --white: #f4f9e9;
    --green: #4D685A;
    --brown: #28190E;
    --black: #110A03;
}

html, body {
    margin: 0;
    padding: 0;
}

.demo-wrap {
    overflow-y: scroll;
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  
.demo-bg {
    opacity: 0.05;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  
.demo-content {
    position: relative;
  }

body {
    background-color: var(--black);
    height: 100vh;
    width: 100vw;
}

.primarycolor {
    background-color: var(--white);
}

.cItem {
    color: var(--white);
    font-size: 2rem;
}

.cCol {
    padding-bottom: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.IconDiv {
  font-size: 3rem;
  padding-top: 1rem;
}

.button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  text-decoration: none;
}

.glow-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 10px var(--white);
}